<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Magnews HTML Template</title>

</head>
<body>

<!-- Header -->
<header id="header">
    <!-- Top Header -->
    <div id="top-header">
        <div class="container">

                <div class="header-links">
                    <ul>
                        <li sec:authorize="isAnonymous()"><a  th:href="@{/login}"><i class="fa fa-sign-in"></i> Login</a></li>
                        <li sec:authorize="isAuthenticated()" th:if="${activePage == 'Products' or activePage == 'Users' or activePage == 'Login'}" >
                            <form   th:action="@{/logout}" method="post"  > <button type="submit" class="logout-btn">Logout </button></form></li>
                        <li sec:authorize="isAuthenticated()" th:unless="${activePage == 'Products' or activePage == 'Users' or activePage == 'Login'}" >
                            <form   th:action="@{../logout}" method="post"  > <button type="submit" class="logout-btn">Logout </button></form></li>
                    </ul>
                </div>

        </div>
    </div>
    <!-- /Top Header -->

    <!-- Center Header -->
    <div id="center-header">
        <div class="container">
            <div class="header-logo">
                <a th:href="@{/products}" class="logo"><img  th:if="${activePage == 'Products' or activePage == 'Users' or activePage == 'Login'}" src="./img/logo.png" alt="">
                                                        <img  th:unless="${activePage == 'Products' or activePage == 'Users' or activePage == 'Login'}" src="../img/logo.png" alt="">
                </a>
            </div>

        </div>
    </div>
    <!-- /Center Header -->

    <!-- Nav Header -->
    <div id="nav-header">
        <div class="container">
            <nav id="main-nav">
                <!--<div class="nav-logo">-->
                    <!--<a href="#" class="logo"><img src="./img/logo-alt.png" alt=""></a>-->
                <!--</div>-->
                <ul class="main-nav nav navbar-nav">
                    <li th:classappend="${activePage == 'Products'} ? 'active'"><a th:href="@{/products}" >PRODUCTS</a></li>
                    <li sec:authorize="hasRole('ADMIN')" th:classappend="${activePage == 'Users'} ? 'active'"><a th:href="@{/users}">USERS</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /Nav Header -->
</header>
<!-- /Header -->

</body>
</html>
